RewriteEngine on
#Error Pages
ErrorDocument 404   https://finixx.netlify.app/404.html
#Removing .html as extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.html$ /index [L,R=301]
#Changing Subdirectory
"RewriteCond %{REQUEST_URI} !^/assets/
RewriteRule ^(.*) /assets/$1 [L]"
#Cachinh images
ExpiresActive On
ExpiresByType image/png "now plus 1 month"
#Compress Images
AddOutputFilterByType DEFLATE text/html text/css text/plain application/javascript image/svg+xml
#Prevent directory from being shown
Options +Indexes
DirectoryIndex disabled