RewriteEngine on
#Error Pages
ErrorDocument 404 /404.html
ErrorDocument 401 /401.html

#Removing .html as extension
RewriteBase /
#To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ %1 [R=302,NE,L]
#To internally forward /dir/file to /dir/file.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.html -f [NC]
RewriteRule ^(.+?)/?$ $1.html [L]

#Changing Subdirectory
"RewriteCond %{REQUEST_URI} !^/assets/
RewriteRule ^(.*) /assets/$1 [L]"

#Caching images
ExpiresActive On
ExpiresByType image/png "now plus 1 month"

#Compress Images
AddOutputFilterByType DEFLATE text/html text/css text/plain application/javascript image/svg+xml

#Prevent directory from being shown
DirectoryIndex disabled
IndexIgnore *.css,.js
Options +FollowSymLinks -MultiViews +Indexes

#Making it https
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#Protecting Files
AuthType Basic
AuthName "Require Authentication"
AuthUserFile assets/css/.htpasswd
Require valid-user
