* {
    margin: 0;
    padding: 0;
}

input,
button,
a,
img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: none;
    outline: none;
    user-select: none;
}

c-nav,
c-nav1,
c-nav2 {
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 15pt;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    background: #000;
    padding: 0;
}

.welcome-div {
    position: fixed;
    top: 0vh;
    left: 0%;
    text-transform: uppercase;
    font-size: 30px;
    width: 100%;
    height: 52vh;
    font-weight: 900;
    z-index: 40;
    background: #000;
}

.welcome-div h1 {
    color: #ccc;
    font-size: 40px;
    position: fixed;
    top: 29vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 50000;
    backdrop-filter: blur(40px);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
    transition: .5s ease;
    cursor: pointer;
    /**background: url(../images/back.png);
    -webkit-text-stroke: 2px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 11s linear infinite;**/
}

.welcome-div h1:hover {
    filter: invert(10%);
    color: #fff;
}

.welcome-div h1::selection {
    color: #111;
    background: rgba(255, 255, 255, 0.3);
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .welcome-div {
        position: fixed;
        top: 23vh;
        left: 50%;
        height: 45vh;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .welcome-div h1 {
        font-size: 35px;
        position: fixed;
        top: 25vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

canvas {
    border: 2px solid #111;
    border-radius: 6px;
    background-color: black;
    position: absolute;
    width: auto;
    min-width: 45%;
    max-width: 94%;
    height: 65%;
    margin: 2.5vw;
    margin-top: 100px;
    font-weight: 700px;
    transition: 0.3s ease-in-out;
    transform: translate (-50%, -50%);
}

body {
    background: #121212;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: 0.3s ease-in-out;
}

.joystick {
    border: 1px solid #666;
    background: #000;
    position: absolute;
    overflow: hidden;
    display: none;
    bottom: 10%;
    left: 2%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.key {
    background: #222;
    position: absolute;
    outline: none;
    border: 0;
    border-radius: 40%;
    z-index: 500;
    transition: 0.25s ease-in-out
}

.key:hover {
    background: #ccc;
    z-index: 500;
}

.top {
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 150px;
}

.bottom {
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 150px;
}

.right {
    top: 75px;
    left: 111%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
}

.left {
    top: 75px;
    left: -11%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
}

#back {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ccc;
    color: #111;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

c-rate {
    display: none;
    justify-content: center;
    align-items: center;
    background: #121212;
    height: 200px;
    width: 70%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 100000;
    border-radius: 12px;
    opacity: 0;
    transition: 0.7s all ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid #333;
    -webkit-transition: 0.7s all ease-in-out;
    -moz-transition: 0.7s all ease-in-out;
    -ms-transition: 0.7s all ease-in-out;
    -o-transition: 0.7s all ease-in-out;
}

c-rate.activez {
    display: flex;
    opacity: 1;
    transition: 0.7s all ease-in-out;
}

@media only screen and (max-width: 768px) {
    canvas {
        height: 40%;
        width: 94%;
        border: 2px solid #222222;
        margin-top: 100px;
    }
    .joystick {
        display: block;
    }
}